body{
background-color: #f0f0f0
}
.utama{
  margin-top: 110px;
  margin-bottom: 100px; 
}
.thumbnail:hover .ditel{
    opacity: 1;
    transform: rotate(0);
    background: rgba(0,0,0,.5);
}

.ditel{
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    padding-top: 44%;
    padding-bottom: 43% ;
    margin-top: -100%;
       
}
.ukuran{
      height: 35px;
      width: 300px;

  padding: 10px 16px;
  font-size: 14px;
    
}

.box {
  position: relative;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box2 {
  background-color: #0c7069;
  color:#fff;
  height: 302px;
  }
.box-head{

    margin-bottom: 20px;
    border-bottom: 3px solid #0c7069;
}
.form-garis{
    border-style: none;
    background: rgba(0,0,0, 0);
    border-bottom: 3px solid #0c7069; 
    width: 100%;
    padding: 10px;
}
.form-garis:focus { 
    outline: none;
    border-bottom: 3px solid #1acec1; 
    transition:  0.9s;  transition: all 0.9s;
    -moz-transition: all 0.9s;

}
.ha-error .form-garis {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.footer1 {
   background-color: #0c7069;
   color: #fff;
}
.beli{
  background-color: #0c7069; 
  margin-top:-15px; 
  margin-left: -8px;
}
.box-keranjang{
  background-color: #fff; 
  width: 250px;
}
@media (min-width: 992px) and (max-width: 1199px)  {
    .ditel{
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    padding-top: 42%;
    padding-bottom: 42% ;
    margin-top: -100%;
       
    }
}
li > a{
  text-decoration: none;
  color: #fff; 
}
.footer-title{
  position: relative;
    color: #fff;
  font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #195d58;
}
.footer-title:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 50px;
  height: 4px;
  background: #084f4a;
}
.footer-links a{
  padding: 10px 0;
  border-bottom: 1px solid #195d58;
  color: #fff;
  display: block;
  transition: color 0.5s ease-in-out;
}
.footer-links a:hover{
  color: #084f4a;
}

@media (min-width: 771px) and (max-width: 991px)  {
    .ditel{
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    padding-top: 48%;
    padding-bottom: 47% ;
    margin-top: -100%;
       
    }
}
